<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - Bar{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bulma.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section class="section has-background-primary">
    <div class="container">
        <div>{% include "components/navbar.html" %}</div>
        {% block content %} Content placeholder{% endblock %}
    </div>
</section>
<div class="footer has-background-warning"> Created for fun</div>
</body>
</html>